<h1>Tree of groups</h1>
{{filter-table content=content columnNum=1 isTree=true
               bodyTemplate="groups-table-body"
               headerTemplate="groups-table-header"
               }}

{{selectedSortOption}}
